aiohttp==3.8.3
aiosignal==1.3.1
anytree==2.12.1
async-timeout==4.0.2
attrs==22.2.0
awscrt==0.20.2
awsiotsdk==1.21.0
bandit==1.7.4
black==23.1.0
build==0.9.0
cachetools==5.2.1
certifi==2024.2.2
cfgv==3.3.1
chardet==5.1.0
charset-normalizer==2.1.1
click==8.1.3
cloudevents==1.9.0
colorama==0.4.6
coverage==6.5.0
coverage2clover==3.3.0
coveragepy-lcov==0.1.2
dapr==1.8.3
Deprecated==1.2.14
deprecation==2.1.0
distlib==0.3.6
exceptiongroup==1.1.0
filelock==3.9.0
flake8==6.0.0
frozenlist==1.3.3
gitdb==4.0.10
GitPython==3.1.31
grpc-stubs==1.24.11
grpcio==1.48.2
grpcio-tools==1.48.2
identify==2.5.9
idna==3.4
importlib-metadata==6.11.0
iniconfig==2.0.0
mccabe==0.7.0
multidict==6.0.4
mypy==0.991
mypy-extensions==0.4.3
mypy-protobuf==3.3.0
nodeenv==1.7.0
opentelemetry-api==1.15.0
opentelemetry-distro==0.36b0
opentelemetry-instrumentation==0.36b0
opentelemetry-instrumentation-logging==0.36b0
opentelemetry-sdk==1.15.0
opentelemetry-semantic-conventions==0.36b0
packaging==23.0
paho-mqtt==2.0.0
pathspec==0.10.2
pbr==5.11.0
pep517==0.13.0
pip-tools==6.10.0
platformdirs==2.6.2
pluggy==1.0.0
pre-commit==2.20.0
protobuf==3.20.3
pycodestyle==2.10.0
pyflakes==3.0.1
Pygments==2.14.0
pygount==1.2.4
pyproject_api==1.4.0
pyproject_hooks==1.0.0
pytest==7.2.0
pytest-asyncio==0.20.3
pytest-cov==4.0.0
pytest-ordering==0.6
python-dateutil==2.8.2
PyYAML==6.0
requests==2.31.0
ruamel.yaml==0.17.32
ruamel.yaml.clib==0.2.8
sdv @ git+https://github.com/daniel-schaubach-beg/vehicle-app-python-sdk.git@96a600665ade08d1c0968665bccc288295e5eb6c
six==1.16.0
smmap==5.0.0
stevedore==4.1.1
stringcase==1.2.0
termcolor==2.4.0
toml==0.10.2
tomli==2.0.1
tox==4.2.6
types-mock==5.0.0.0
types-protobuf==4.21.0.0
types-requests==2.31.0.20240218
typing_extensions==4.4.0
urllib3==2.2.1
vehicle @ file:///workspaces/swdv.enterer.aws-cloud-connector/gen/vehicle_model
-e git+https://github.com/eclipse-velocitas/devenv-runtimes@3cf0015bf9fbfb0805f7e79d5818212164bc60ea#egg=velocitas_lib&subdirectory=velocitas_lib
velocitas_model_generator @ git+https://github.com/eclipse-velocitas/vehicle-model-generator.git@2a5b699d8b8f8d223fcb82a8d5f9b377dfd6c5dc
velocitas_sdk @ git+https://github.com/daniel-schaubach-beg/vehicle-app-python-sdk.git@4cb765eaa97ce4eb1cea1bd12bb0b038a0e7b86a
virtualenv==20.17.1
vss-tools @ git+https://github.com/covesa/vss-tools@a869c2b737e2b440ddd9609f692dff0cda57bfa6
wrapt==1.16.0
yarl==1.8.2
yaspin==2.3.0
zipp==3.17.0
